@import 'var';
@import 'component/bubble';

.app-container {
  max-width: 500px;

  .container {
    position: fixed;
    bottom: 0;
    width: 100%;

    .row {

      .button-field {
        margin-top: 20px;
      }
    }
  }
}
