@import 'var';
@import 'component/bubble';
@import 'component/users_list';

.app-container {
  max-width: 1000px;
  .fixed-container {
    max-width: 500px;
    width: inherit;
    position: fixed;

    .bubble-chat {
      position: fixed;
      width: inherit;
      max-width: inherit;
      overflow-y: scroll;
      overflow-x: none;
      height: 85%;
      
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .input-container {
      position: fixed;
      bottom: 0;
      width: inherit;
      max-width: inherit;
  
      .row {
  
        .button-field {
          margin-top: 20px;
        }
      }
    }
  }
}
