@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.bubble-chat {
  list-style-type: none; }
  .bubble-chat .message-wrapper {
    width: 100%;
    display: block;
    overflow: hidden;
    margin: 10px; }
    .bubble-chat .message-wrapper .message {
      display: inline-block;
      border-radius: 20px;
      width: auto;
      min-width: 40px;
      max-width: 400px; }
      .bubble-chat .message-wrapper .message.sent {
        float: right;
        background: #87CEFA; }
      .bubble-chat .message-wrapper .message.received {
        float: left;
        background: #d7d7d7; }
      .bubble-chat .message-wrapper .message p {
        font-size: 14px;
        margin: 10px;
        font-family: Helvetica, "Open Sans", Arial; }

.app-container {
  max-width: 500px; }
  .app-container .container {
    position: fixed;
    bottom: 0;
    width: 100%; }
    .app-container .container .row .button-field {
      margin-top: 20px; }
