@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.bubble-chat {
  list-style-type: none; }
  .bubble-chat .messsage-row {
    width: 100%;
    overflow: hidden; }
    .bubble-chat .messsage-row .message-wrapper {
      width: auto;
      display: block;
      margin-bottom: 5px; }
      .bubble-chat .messsage-row .message-wrapper.sent {
        float: right; }
        .bubble-chat .messsage-row .message-wrapper.sent .author p, .bubble-chat .messsage-row .message-wrapper.sent .date p {
          margin-right: 5px;
          text-align: right; }
      .bubble-chat .messsage-row .message-wrapper.received {
        float: left; }
        .bubble-chat .messsage-row .message-wrapper.received .author p, .bubble-chat .messsage-row .message-wrapper.received .date p {
          margin-left: 5px;
          text-align: left; }
      .bubble-chat .messsage-row .message-wrapper .author p, .bubble-chat .messsage-row .message-wrapper .date p {
        font-size: 9px; }
      .bubble-chat .messsage-row .message-wrapper .message {
        display: inline-block;
        border-radius: 20px;
        width: auto;
        min-width: 40px;
        max-width: 400px; }
        .bubble-chat .messsage-row .message-wrapper .message p {
          font-size: 14px;
          margin: 8px;
          font-family: Helvetica, "Open Sans", Arial; }

#users-list li {
  text-align: right; }
  #users-list li div {
    display: inline-block; }
    #users-list li div.nickname {
      font-size: 14px;
      vertical-align: top; }
      #users-list li div.nickname.current {
        font-weight: bold; }
    #users-list li div.color-icon {
      width: 18px;
      height: 18px;
      border-radius: 16px;
      position: relative;
      margin-top: 7px;
      margin-right: -3px;
      margin-left: 5px; }

.app-container {
  max-width: 1000px; }
  @media screen and (max-width: 412px) {
    .app-container .left-col {
      display: none; } }
  @media screen and (max-width: 412px) {
    .app-container .right-col {
      display: none; } }
  @media screen and (max-width: 412px) {
    .app-container .main-col {
      width: 100% !important;
      padding: 0; } }
  .app-container .main-col .fixed-container {
    max-width: 500px;
    width: inherit;
    position: fixed; }
    @media screen and (min-width: 993px) {
      .app-container .main-col .fixed-container {
        max-width: 666px; } }
    .app-container .main-col .fixed-container .bubble-chat {
      position: fixed;
      width: inherit;
      max-width: inherit;
      overflow-y: scroll;
      overflow-x: none;
      height: 85%; }
      .app-container .main-col .fixed-container .bubble-chat::-webkit-scrollbar {
        display: none; }
    .app-container .main-col .fixed-container .input-container {
      position: fixed;
      bottom: 0;
      width: inherit;
      max-width: inherit; }
      .app-container .main-col .fixed-container .input-container .row .button-field {
        margin-top: 20px; }
