.bubble-chat {
  list-style-type: none;

  .message-wrapper {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 5px;

    .message {
      display: inline-block;
      border-radius: 20px;
      width: auto;
      min-width: 40px;
      max-width: 400px;

      &.sent {
        float: right;
        background: #87CEFA;
      }

      &.received {
        float: left;
        background: #d7d7d7;
      }

      p {
        font-size: $s-msg-main;
        margin: 8px;
        font-family: $f-msg-main;
      }
    }
  }
}
