.bubble-chat {
  list-style-type: none;
  
  .messsage-row {
    width: 100%;
    overflow:hidden;

    .message-wrapper {
      width: auto;
      display: block;
      margin-bottom: 5px;
      
      &.sent {
        float: right;
        
        .author, .date  {
          p {
            margin-right: 5px;
            text-align: right;
          }
        }
      }

      &.received {
        float: left;

        .author, .date  {
          p {
            margin-left: 5px;
            text-align: left;
          }
        }
      }
      .author, .date  {
        p {
          font-size: 9px;
        }
      }
      .message {
        display: inline-block;
        border-radius: 20px;
        width: auto;
        min-width: 40px;
        max-width: 400px;

        p {
          font-size: $s-msg-main;
          margin: 8px;
          font-family: $f-msg-main;
        }
      }
    }
  }
}
